abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
summary,
time,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

abbr:after,
abbr:before,
address:after,
address:before,
article:after,
article:before,
aside:after,
aside:before,
audio:after,
audio:before,
b:after,
b:before,
blockquote:after,
blockquote:before,
body:after,
body:before,
button:after,
button:before,
canvas:after,
canvas:before,
cite:after,
cite:before,
code:after,
code:before,
dd:after,
dd:before,
del:after,
del:before,
details:after,
details:before,
dfn:after,
dfn:before,
div:after,
div:before,
dl:after,
dl:before,
dt:after,
dt:before,
em:after,
em:before,
fieldset:after,
fieldset:before,
figcaption:after,
figcaption:before,
figure:after,
figure:before,
footer:after,
footer:before,
form:after,
form:before,
h1:after,
h1:before,
h2:after,
h2:before,
h3:after,
h3:before,
h4:after,
h4:before,
h5:after,
h5:before,
h6:after,
h6:before,
header:after,
header:before,
hgroup:after,
hgroup:before,
html:after,
html:before,
i:after,
i:before,
iframe:after,
iframe:before,
img:after,
img:before,
ins:after,
ins:before,
kbd:after,
kbd:before,
label:after,
label:before,
legend:after,
legend:before,
li:after,
li:before,
mark:after,
mark:before,
menu:after,
menu:before,
nav:after,
nav:before,
object:after,
object:before,
ol:after,
ol:before,
p:after,
p:before,
pre:after,
pre:before,
q:after,
q:before,
samp:after,
samp:before,
section:after,
section:before,
small:after,
small:before,
span:after,
span:before,
strong:after,
strong:before,
summary:after,
summary:before,
time:after,
time:before,
ul:after,
ul:before,
var:after,
var:before,
video:after,
video:before {
  box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

sub:after,
sub:before,
sup:after,
sup:before {
  box-sizing: border-box; }

a:after,
a:before {
  box-sizing: border-box; }

caption,
table,
tbody,
td,
tfoot,
th,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1.2; }

li,
ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before {
  content: "";
  content: none; }

q:after,
q:before {
  content: "";
  content: none; }

:focus {
  outline: 0; }

input[type="text"],
textarea {
  -webkit-appearance: none; }

input[type="text"]::-ms-clear,
textarea::-ms-clear {
  display: none; }

input,
textarea {
  border-radius: 0;
  box-sizing: border-box; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #000; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #000; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  word-wrap: break-word; }

/* base */
html {
  height: 100%;
  font: normal 10px/1.33 sans-serif;
  font-weight: 300; }

*, *:after, *:before {
  box-sizing: border-box;
  word-wrap: break-word; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  height: 100%;
  font-size: 1.6rem;
  color: #7e8287;
  -webkit-text-size-adjust: none;
  background: white; }

.wrapper {
  position: relative;
  min-width: 96rem;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.base {
  position: relative;
  padding: 8rem 3rem 10rem; }

a {
  text-decoration: none;
  color: olive; }

a:focus,
a:hover {
  text-decoration: underline; }

.elements_list {
  padding: 3rem; }

/* header */
.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%; }

.header__main-row {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 3rem;
  border-bottom: 1px solid gray; }

.header__menu-list,
.header__menu-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: center; }

.header__menu-row {
  transition: transform 0.3s ease;
  will-change: transform; }

.logo__wrap {
  position: relative;
  z-index: 100; }

.logo__text {
  color: darkgray; }
  .logo__text:hover {
    color: gray; }
  .logo__text:focus, .logo__text:hover {
    text-decoration: none; }

/* burger */
.menu__trigger-wrap {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 8rem; }

.menu__trigger {
  z-index: 210;
  position: absolute;
  top: 50%;
  right: 3rem;
  display: none;
  height: 2.6rem;
  width: 3.8rem;
  margin-top: -1.6rem;
  text-transform: uppercase;
  color: transparent;
  cursor: pointer; }
  .menu__trigger:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.4rem;
    margin-top: -.2rem;
    background: black;
    transform: translate(0, -1rem);
    transition: all 0.3s ease; }
  .menu__trigger:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.4rem;
    margin-top: -.2rem;
    background: black;
    transform: translate(0, 1rem);
    transition: all 0.3s ease; }

/* X */
.menu__trigger.active__mod:before {
  transform: rotate(45deg) translate(0, 0); }

.menu__trigger.active__mod:after {
  transform: rotate(-45deg) translate(0, 0); }

.menu__trigger-decor {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.4rem;
  margin-top: -.2rem;
  background: black;
  transition: all 0.3s ease; }

.active__mod .menu__trigger-decor {
  opacity: 0;
  transform: translate(100%, 0); }

/* main menu */
.header__menu-row {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 8rem;
  padding: 0 3rem; }

.header__menu-item {
  padding: 0 0 0 3rem; }
  .header__menu-item:first-child {
    padding: 0; }

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  will-change: transform; }
@media (max-width: 770px) {

  .menu__trigger {
    display: block; }

  .header__menu-item {
    padding: 2rem 0 0; } }
@media screen and (max-width: 770px) {

  .header__menu-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 12rem 3rem;
    background: #fff;
    transform: translate(0, -100%); }

  body.menu__open .header__menu-row {
    transform: translate(0, 0); }

  .header__menu-list {
    flex-direction: column; } }
